@model KatmanliMimari.Models.SinifModel
@{
    ViewBag.Title = "Index";
}

<a class="btn btn-success" href="/Sinif/Ekle">EKLE</a>
<a class="btn btn-success" href="/Sinif/Asube">A Şubesi</a>
<a class="btn btn-success" href="/Sinif/Bsube">B Şubesi</a>
<hr />
@if (Model.slist != null)
{
    <table class="table table-bordered table table-hover">
        <thead>
            <tr>
                <th>Sınıf</th>
                <th>Şube</th>
                <th class="text-center">Detay</th>
                <th class="text-center">Güncelle</th>
                <th class="text-center">Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.slist)
            {
                <tr>
                    <td>@item.Kademe</td>
                    <td>@item.Sube</td>
                    <td class="text-center">
                        <a href="/Sinif/Detay/@item.SinifID">Detay</a>
                    </td>
                    <td class="text-center">
                        <a href="/Sinif/Guncelle/@item.SinifID">Güncelle</a></td>
                    <td class="text-center">
                        <a href="/Sinif/Sil/@item.SinifID">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Sınıf Listesi Bulunamadı.</p>
}